
.testimonial-grid {
    padding: 50px 0 30px;
    border-top: 2px solid transparent;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  
  @media only screen and (max-width: 767px) {
    .testimonial-grid {
      padding: 30px 0;
    }
  }
  
  .testimonial-grid .social-media {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-rose);
    font-family: var(--font-primary);
    letter-spacing: -0.025em;
    margin-bottom: 30px;
  }
  
  .testimonial-grid p {
    font-size: 24px;
    line-height: 1.2;
    color: var(--color-text-dark);
    font-family: var(--font-primary);
    letter-spacing: -0.025em;
  }
  
  @media only screen and (max-width: 767px) {
    .testimonial-grid p {
      font-size: 18px;
    }
  }
  
  .testimonial-grid .author-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .testimonial-grid .author-info .thumb img {
    border-radius: 50%;
  }
  
  .testimonial-grid .author-info .content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 20px;
  }
  
  .testimonial-grid .author-info .content span {
    display: block;
  }
  
  .testimonial-grid .author-info .content .name {
    font-weight: 500;
    color: var(--color-text-dark);
    letter-spacing: -0.04em;
    margin-bottom: 3px;
  }
  
  .testimonial-grid .author-info .content .designation {
    font-size: 14px;
    color: var(--color-gray-2);
    letter-spacing: -0.025em;
  }
  
  .testimonial-grid:hover,
  .testimonial-grid.active {
    border-top-color: var(--color-primary);
  }
  
  .testimonial-grid.testimonial-light p {
    color: var(--color-white);
  }
  
  .testimonial-grid.testimonial-light .author-info .content .name {
    color: var(--color-white);
  }
  
  .customer-review-area .section-heading .title {
    font-size: 50px;
    margin-bottom: 40px;
  }
  
  @media only screen and (max-width: 1199px) {
    .customer-review-area .section-heading .title {
      font-size: 46px;
    }
  }
  
  @media only screen and (max-width: 991px) {
    .customer-review-area .section-heading .title {
      font-size: 38px;
    }
  }
  
  .customer-review-area .review-site-logo {
    text-align: right;
  }
  
  @media only screen and (max-width: 991px) {
    .customer-review-area .review-site-logo img {
      width: 80%;
    }
  }
  
  @media only screen and (max-width: 991px) {
    .customer-review-area .review-site-logo {
      text-align: left;
      margin-bottom: 5px;
    }
  }
  
  .followers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 90px -50px -15px;
  }
  
  @media only screen and (max-width: 991px) {
    .followers-list {
      margin: 90px -15px -15px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .followers-list {
      margin: 50px -15px -15px;
    }
  }
  
  .followers-list li {
    margin: 0 50px;
    margin-bottom: 15px;
  }
  
  @media only screen and (max-width: 991px) {
    .followers-list li {
      margin: 0 15px;
    }
  }
  
  .followers-list li a i {
    height: 67px;
    width: 67px;
    line-height: 67px;
    text-align: center;
    color: var(--color-white);
    border-radius: 100%;
    margin-right: 25px;
  }
  
  @media only screen and (max-width: 991px) {
    .followers-list li a i {
      margin-right: 10px;
      height: 50px;
      width: 50px;
      line-height: 50px;
    }
  }
  
  .followers-list li a span {
    color: #000248;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    font-family: var(--font-primary);
  }
  
  @media only screen and (max-width: 991px) {
    .followers-list li a span {
      font-size: 18px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .followers-list li a span {
      margin-top: 10px;
    }
  }
  
  .followers-list li.dribble a i {
    background-color: #ea4c89;
    -webkit-box-shadow: 0 10px 37px -5px rgba(234, 76, 137, 0.5);
    box-shadow: 0 10px 37px -5px rgba(234, 76, 137, 0.5);
  }
  
  .followers-list li.behance a i {
    background-color: #0067ff;
    -webkit-box-shadow: 0 10px 37px -5px rgba(0, 103, 255, 0.5);
    box-shadow: 0 10px 37px -5px rgba(0, 103, 255, 0.5);
  }
  
  .followers-list li.linkedin a i {
    background-color: #0177ac;
    -webkit-box-shadow: 0 10px 37px -5px rgba(1, 119, 172, 0.5);
    box-shadow: 0 10px 37px -5px rgba(1, 119, 172, 0.5);
  }
  